*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

body{
    
    &.claro{
        background: white;
        color: black;
    }

    &.escuro{
        background: black;
        color: white;
    }
}

header{
  background-color: rgb(47, 68, 255);
  /* padding-left: 20px;
  margin-bottom: 20px; */
  padding: 20px 25px;
  margin: 10px 0 0 0; /*t, r, b, l*/
  display: flex;
  gap: 20px;

  form{
    input{
        font-size: 20px;
        color: rgb(101, 226, 43);
        padding: 5px;

    }
    button{
        background: black;
        color: white;

    
    }
  }
}

a{
    color: rgb(4, 20, 248);

}

/* o . tem referencia por ser uma classe*/
.container{
    display: flex;
    
}

nav{
    background-color: rgba(241, 5, 76, 0.103);
    padding: 15px 0;


    ul{
    display: flex;
    list-style: none;
    justify-content: space-around;


       li{
        
        a{
            color: black;
            text-decoration: none;
            background: rgb(236, 234, 234);
            padding: 5px;
            transition: all ease-in-out 0.3s;

            &:hover{
                color: aqua;
                background: red;
            }

       }
    }
}
}

/* 
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
} */



main{
    background-color: rgb(106, 138, 116);

    section{
      
        padding: 20px;

        h2{
           margin-bottom: 20px;
        }

        p{
            line-height: 1.5;
        }

        h3,h4{
            margin-bottom: 15px;
        }

        p{
            margin-bottom: 15px;
        }

        article{
            padding: 10px;
        }

        &#esportes{
              p{
            text-align: start;
            }
        }
        &#economia{
            .container{
                flex-wrap: wrap;
            }
            article{
                width: 300px;
            }
        }
           
        }
    }



footer{        
background-color: rgb(31, 9, 230);
padding: 15px 0;
/* 15px 0 significa 15px para cima e para baixo e 0 para direita e esquerda */
color: aliceblue;
text-align: center;
}



hide{
    display: nome
    ;
}

button{
    padding: 10-px;
    border: none;
    cursor: pointer;
    color: rgb(11, 7, 248);
    &show{     background: yellow;}
}

&#hide{
    background: red;
}
