*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

header{
  background-color: greenyellow;
  /* padding-left: 20px;
  margin-bottom: 20px; */
  padding: 20px 25px;
  margin: 10px 0 0 0; /*t, r, b, l*/
  
}

a{
    color: rgb(40, 4, 248);

}

/* o . tem referencia por ser uma classe*/
.container{
    display: flex;
    
}

nav{
    background-color: rgba(241, 5, 76, 0.103);
    padding: 15px 0;


    ul{
    display: flex;
    list-style: none;
    justify-content: space-around;


       li{
        
        a{
            color: black;
            text-decoration: none;
            background: rgb(236, 234, 234);
            padding: 5px;
            transition: all ease-in-out 0.3s;

            &:hover{
                color: aqua;
                background: red;
            }

       }
    }
}
}

/* 
nav ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
} */



main{
    background-color: rgb(106, 138, 116);

    section{
      
        padding: 20px;

        h2{
           margin-bottom: 20px;
        }

        p{
            line-height: 1.5;
        }

        h3,h4{
            margin-bottom: 15px;
        }

        p{
            margin-bottom: 15px;
        }

        article{
            padding: 10px;
        }

        &#esportes{
              p{
            text-align: start;
            }
        }
        &#economia{
            .container{
                flex-wrap: wrap;
            }
            article{
                width: 300px;
            }
        }
           
        }
    }



footer{
background-color: rgb(31, 9, 230);}